<table class="cardetailsout car2"><caption><h2 class="car">Toyota Kluger IV 2.5 (250 Hp) Hybrid e-Four e-CVT 2021, 2022, 2023, 2024, 2025 Specs</h2></caption><tbody><tr class="no"><th colspan="2" class="no"><strong class="car" id="_general">General information</strong></th></tr>
<tr><th>Brand</th><td><a href="/en/toyota-brand-40">Toyota</a></td></tr>
<tr><th>Model </th><td><a href="/en/toyota-kluger-model-433">Kluger</a></td></tr>
<tr><th>Generation  </th><td><a href="/en/toyota-kluger-iv-generation-10487">Kluger IV</a></td></tr>
<tr><th>Modification (Engine) </th><td>2.5 (250 Hp) Hybrid e-Four e-CVT </td></tr>
<tr><th>Start of production </th><td>June, 2021 year </td></tr>
<tr><th>Powertrain Architecture </th><td>FHEV (Full Hybrid Electric Vehicle) </td></tr>
<tr><th>Body type</th><td>SUV </td></tr>
<tr><th>Seats </th><td>7 </td></tr>
<tr><th>Doors </th><td>5 </td></tr>
<tr class="no"><th colspan="2" class="no"><strong class="car" id="_performance">Performance specs</strong></th></tr><tr>
							<th>Fuel consumption (economy) - urban </th>
							<td>6 l/100 km
							<span class="val2">39.2 US mpg<br>47.08 UK mpg<br>16.67 km/l</span></td>
						</tr>
<tr>
							<th>Fuel consumption (economy) - extra urban</th>
							<td>5.6 l/100 km
							<span class="val2">42 US mpg<br>50.44 UK mpg<br>17.86 km/l</span></td></tr>
<tr>
							<th>Fuel consumption (economy) - combined</th>
							<td>5.6 l/100 km
							<span class="val2">42 US mpg<br>50.44 UK mpg<br>17.86 km/l</span></td></tr>
<tr><th>Fuel Type </th><td>Petrol (Gasoline) </td></tr>
<tr><th>Weight-to-power ratio </th><td>8.2 kg/Hp, 122 Hp/tonne </td></tr>
<tr><th>Weight-to-torque ratio </th><td>8.5 kg/Nm, 118 Nm/tonne </td></tr>
<tr class="no"><th colspan="2" class="no"><strong class="car" id="_electric">Electric cars and hybrids specs</strong></th></tr><tr><th>Battery voltage </th><td>288 V </td></tr>
<tr><th>Battery technology </th><td>Nickel-metal hydride (NiMH) </td></tr>
<tr><th>Battery location </th><td>Under the rear seats </td></tr>
<tr class="e"><th colspan="2" class="e">Electric motor 1</th></tr>
<tr class="e"><th>Electric motor power </th><td>182 Hp </td></tr>
<tr class="e">
					<th>Electric motor Torque </th>
					<td>270 Nm
						
				<span class="val2">199.14 lb.-ft.</span></td>
				</tr>
<tr class="e"><th>Electric motor location </th><td>Integrated into the transmission </td></tr>
<tr class="e"><th>Electric motor type </th><td>Synchronous </td></tr>
<tr class="e"><th colspan="2" class="e">Electric motor 2</th></tr>
<tr class="e"><th>Electric motor power </th><td>54 Hp </td></tr>
<tr class="e">
					<th>Electric motor Torque </th>
					<td>121 Nm
						
				<span class="val2">89.25 lb.-ft.</span></td>
				</tr>
<tr class="e"><th>Electric motor location </th><td>Rear axle, Transverse </td></tr>
<tr class="e"><th>Electric motor type </th><td>Synchronous </td></tr>
<tr><th>System power </th><td>250 Hp </td></tr>
<tr class="no"><th colspan="2" class="no"><strong class="car" id="_engine">Internal combustion engine specs</strong></th></tr><tr><th>Power </th><td>193 Hp @ 6000 rpm. </td></tr>
<tr><th>Power per litre </th><td>77.6 Hp/l </td></tr>
<tr>
							<th>Torque </th>
							<td>242 Nm @ 4400 rpm.
						<span class="val2">178.49 lb.-ft. @ 4400 rpm.</span></td></tr>
<tr><th>Engine layout </th><td>Front, Transverse </td></tr>
<tr><th>Engine Model/Code </th><td>A25A-FXS </td></tr>
<tr>
						<th>Engine displacement </th>
						<td>2487 cm<sup>3</sup> 
					<span class="val2">151.77 cu. in.</span></td></tr>
<tr><th>Number of cylinders </th><td>4 </td></tr>
<tr><th>Engine configuration </th><td>Inline </td></tr>
<tr>
						<th>Cylinder Bore </th>
						<td>87.5 mm
					<span class="val2">3.44 in.</span></td></tr>
<tr>
						<th>Piston Stroke </th>
						<td>103.48 mm
					<span class="val2">4.07 in.</span></td></tr>
<tr><th>Compression ratio </th><td>14:1 </td></tr>
<tr><th>Number of valves per cylinder </th><td>4 </td></tr>
<tr><th>Fuel injection system </th><td>Direct injection and Multi-port manifold injection </td></tr>
<tr><th>Engine aspiration </th><td>Naturally aspirated engine </td></tr>
<tr><th>Valvetrain  </th><td>DOHC, VVT-iE </td></tr>
<tr>
						<th>Engine oil capacity </th>
						<td>4.5 l
					<span class="val2">4.76 US qt | 3.96 UK qt</span></td></tr>
<tr>
						<th>Engine oil specification </th><td><img class="datalock" src="/img/lock.png" alt="Log in to see."><a href="/en/login" rel="nofollow">Log in to see.</a></td></tr>
<tr>
						<th>Coolant </th>
						<td>9.4 l
					<span class="val2">9.93 US qt | 8.27 UK qt</span></td></tr>
<tr class="no"><th colspan="2" class="no2"><div class="adin top">
<div class="adsense2"><div>	
<ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-9633304932986032" data-ad-slot="7040799221" data-adsbygoogle-status="done"><iframe id="aswift_4" style="height: 1px !important; max-height: 1px !important; max-width: 1px !important; width: 1px !important;"><iframe id="google_ads_frame4"></iframe></iframe></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div><div>	

<ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-9633304932986032" data-ad-slot="7040799221" data-adsbygoogle-status="done"><iframe id="aswift_5" style="height: 1px !important; max-height: 1px !important; max-width: 1px !important; width: 1px !important;"><iframe id="google_ads_frame5"></iframe></iframe></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div></div>
</div></th></tr><tr class="no"><th colspan="2" class="no"><strong class="car" id="_volume">Space, Volume and weights</strong></th></tr><tr>
						<th>Kerb Weight </th>
						<td>2050-2095 kg
					<span class="val2">4519.48 - 4618.68 lbs.</span></td></tr>
<tr>
						<th>Max. weight </th>
						<td>2705-2750 kg
					<span class="val2">5963.5 - 6062.71 lbs.</span></td></tr>
<tr>
						<th>Max load</th>
						<td>655 kg
					<span class="val2">1444.03 lbs.</span></td></tr>
<tr>
						<th>Trunk (boot) space - minimum </th>
						<td>241 l
					<span class="val2">8.51 cu. ft.</span></td></tr>
<tr>
						<th>Trunk (boot) space - maximum </th>
						<td>1150 l
					<span class="val2">40.61 cu. ft.</span></td></tr>
<tr>
							<th>Fuel tank capacity </th>
							<td>65 l
						<span class="val2">17.17 US gal | 14.3 UK gal</span></td></tr>
<tr>
						<th>Permitted trailer load with brakes (12%) </th>
						<td>2000 kg
					<span class="val2">4409.25 lbs.</span></td></tr>
<tr class="no"><th colspan="2" class="no"><strong class="car" id="_dimensions">Dimensions</strong></th></tr><tr>
						<th>Length </th>
						<td>4966 mm
					<span class="val2">195.51 in.</span></td></tr>
<tr>
						<th>Width </th>
						<td>1930 mm
					<span class="val2">75.98 in.</span></td></tr>
<tr>
						<th>Height </th>
						<td>1755 mm
					<span class="val2">69.09 in.</span></td></tr>
<tr>
						<th>Wheelbase </th>
						<td>2850 mm
					<span class="val2">112.2 in.</span></td></tr>
<tr>
						<th>Front track </th>
						<td>1659 mm
					<span class="val2">65.31 in.</span></td></tr>
<tr>
						<th>Rear (Back) track </th>
						<td>1662 mm
					<span class="val2">65.43 in.</span></td></tr>
<tr>
						<th>Minimum turning circle (turning diameter) </th>
						<td>11.4 m
					<span class="val2">37.4 ft.</span></td></tr>
<tr class="no"><th colspan="2" class="no"><strong class="car" id="_drivetrain">Drivetrain, brakes and suspension specs</strong></th></tr><tr><th>Drivetrain Architecture </th><td>An Internal combustion engine (ICE) drives the front wheels, one electric motor drives the front wheels, one electric motor drives the rear wheels. There is an ability for running in full electric or mixed mode. </td></tr>
<tr><th>Drive wheel </th><td>All wheel drive (4x4) </td></tr>
<tr><th>Number of gears and type of gearbox </th><td>automatic transmission e-CVT </td></tr>
<tr><th>Front suspension </th><td>Independent, type McPherson with coil spring and anti-roll bar </td></tr>
<tr><th>Rear suspension </th><td>Independent multi-link spring suspension with stabilizer </td></tr>
<tr><th>Front brakes</th><td>Ventilated discs, 340 mm </td></tr>
<tr><th>Rear brakes</th><td>Ventilated discs, 338 mm </td></tr>
<tr><th>Assisting systems</th><td>ABS (Anti-lock braking system)<br> </td></tr>
<tr><th>Steering type </th><td>Steering rack and pinion </td></tr>
<tr><th>Power steering </th><td>Electric Steering </td></tr>
<tr> <th>Tires size</th> <td>235/65 R18; 235/55 R20 </td></tr>
<tr><th>Wheel rims size</th><td>8J x 18; 8J x 20 </td></tr>
</tbody></table>